{% extends 'layouts/auth/base.html' %}

{% load static %}
{% block content %}

<form class="form-signin" action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'logo.svg' %}" alt="" width="180" height="72">
    </div>
    {% if form.errors %}
    <div class="alert alert-danger fade show alert-dismissible" style="margin-bottom:22px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>Invalid Login!</strong> These credentials do not match our records.
    </div>
    {% endif %}
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control {% if form.errors %} is-invalid {% endif %}"
            placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control {% if form.errors %} is-invalid {% endif %}"
            placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control {% if form.errors %} is-invalid {% endif %}"
            placeholder="Password" required>
        <label for="inputPassword">Confirm Password</label>
    </div>

    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    <br/>
    <div class="checkbox mb-3">
        <a href="{% url 'login' %}">Return to Login</a>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</form>
{% endblock content %}